@model WebSite.tblStudents

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblStudents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookAcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookAcc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
