@model IEnumerable<WebSite.tblLogin>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (Session["CurrentUserPermissionLevel"] != null || (int)Session["CurrentUserPermissionLevel"] == 1)
{

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="@Url.Content("~/Content/serach.css")" rel="stylesheet" type="text/css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/fullcalendarcss")
    </head>
    <body style="background-image: url('background/Elegant_Background-18.jpg')">
        <div class="container body-content">
            <h2>Administration page</h2>
            <table>
                <tr>
                    <th>
                        <a href="@Url.Action("Create", "Admin")" class="list-group-item  calendarTab" style="max-width: 250px">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Create new account
                        </a>
                    </th>
                    <th>
                        <a href="@Url.Action("Index", "Disciplines")" class="list-group-item  calendarTab" style="max-width: 250px">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;Disciplines
                        </a>
                    </th>
                    <th style="padding-left: 5px">
                        <a href="@Url.Action("Index", "Students")" class="list-group-item  calendarTab" style="max-width: 250px">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;Graduated students
                        </a>
                    </th>
                    <th style="padding-left: 5px">
                        <a href="@Url.Action("Index", "Home")" class="list-group-item  calendarTab" style="max-width: 250px">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;Site
                        </a>
                    </th>
                    <th style="padding-left: 5px">
                        <a href="@Url.Action("Logout", "Account")" class="list-group-item  calendarTab" style="max-width: 250px">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Log out
                        </a>
                    </th>
                </tr>
            </table>
            <br />

            <h4>Accounts information</h4>
            @*<div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="What you looking for?">
            </div>*@
            <div style="clear: left; overflow: auto; height: 300px;">
                <span class="counter pull-right"></span>
                <table class="table table-hover table-bordered result" style="font-size:14px">
                    <thead>
                        <tr>
                            <th class="col-md-2" style="text-align:center">
                                Login
                            </th>
                            <th class="col-md-3" style="text-align:center">
                                Password
                            </th>
                            <th class="col-md-3" style="text-align:center">
                                First name
                            </th>
                            <th class="col-md-1" style="text-align:center">
                                Type
                            </th>
                            <th class="col-md-1" style="text-align:center">
                                Course
                            </th>
                            <th class="col-md-2" style="text-align:center"> Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                            <tr style="text-align:center">
                                <td class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.LoginName)
                                </td>
                                <td class="col-md-3">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td class="col-md-3">
                                    @Html.DisplayFor(modelItem => item.tblTeachers.FirstName)
                                </td>
                                <td class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.PermissionLevel)
                                </td>
                                <td class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.Course)
                                </td>
                                <td class="col-md-2" style="text-align: center">
                                    <button type="button" class="btn btn-info btn-xs" aria-label="Right Align" onclick="location.href='@Url.Action("Edit", "Admin", new { id=item.ID })'">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" aria-label="Right Align" onclick="location.href='@Url.Action("Delete", "Admin", new { id=item.ID })'">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - TU Povdiv</p>
            </footer>
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/fullcalendarjs")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/searchjs")

    </body>
</html>
}
else
{
    @Html.ActionLink("Access denied", "NoPermission", "Home")
}

