<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fullcalendarcss")

</head>
<body>
    <div class="body-header">
        <div style="width:1158px; margin-left:auto; margin-right:auto; padding-bottom: 10px">
            <img class="headerLogo" src="~/Content/Images/headerLogo.png" alt="Head" style="max-height:80px"/>
        </div>
    </div>
    <div class="body-content">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" ", "Index", "Home", new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navFont">
                        @*<li>@Html.ActionLink(" ", "Index", "Home", new { @class = "logo" })</li>*@
                        <li><a href="@Url.Action("Index", "Home")" title="Addevent"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Home</a></li>
                        <li><a href="@Url.Action("Students", "Home")" title="Addevent"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;&nbsp;Be one of us</a></li>
                        <li><a href="@Url.Action("About", "Home")" title="Addevent"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;&nbsp;About</a></li>
                        <li><a href="@Url.Action("Contact", "Home")" title="Addevent"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;Contact</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="fontTU">&copy; @DateTime.Now.Year - Technical University of Povdiv</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)
</body>
</html>
